@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body
{
	margin:0;
	width:100%;
}

.inputbox
{
 width:100px;
 height:40px;
 background:#FFC;
 float:left;	
 margin:0;
}
.logo
{
width:1500px;
height:420px;
background:pink;
margin:0 auto;	
position:relative;
}
.img
{
	width:100%;
	height:420px;
	float:left;
	position:relative;
}

.nav{
width:1500px;
height:60px;
background:#FCF;
margin:0 auto;
margin-top:0px;
position:relative;

}
.nav-list{
width:300px;
height:40px;
background:#FCF;
float:left;
text-align:right;
font-family:"微软雅黑";
font-size:24px;
font-weight:bold;
line-height: 30px;
margin-top:20px;	
}
.nav-list a{
text-decoration: none;
color:#666;	
}
.banner
{
	width:1500px;
	height: 1800px;
	background:#FFF;
	margin:0 auto;
	margin-top:0px;
	
}



.content{
	width:1500px;
	height:700px;
	margin:0 auto;
	background:#FFF7FF;
	position:relative;
	}
.content-list1{
	margin-left:620px;
	margin-top:30px;
	background-position:center;
	}
.content-list2{
	width:1000px;
	height:300px;
	background:#FCD1F3;
	float:left;
	text-align:center;
	font-family:"微软雅黑";
	font-size:24px;
	line-height: 30px;
	margin-top:20px;
	margin-left:200px;	
	
	}
.content-list3{
	margin-left:20px;
	margin-top:10px;
	}
.footer
{
	height:380px;
	width:1500px;
	margin:0 auto;
	margin-top:0px;
}
.img1
{
	width:100%;
	height:380px;
	
	position:relative;
}
.totop{
	width:30px;
	height:30px;
	background:#FCC;
	position:fixed;
	right:50px;
	bottom:100px;
	transition:all 1s; 
}
.totop:hover{
	background:#FFC;
	width:50px;
	height:50px;
}